.Footer {
  text-align: center;

  background-color: #09141c;
  padding: 0.5rem;
}

.Footer a {
  text-decoration: none;
  color: #cbd5e0;
  border-bottom: 2px solid rgba(203, 93, 157, 0.8);
}
