.header-nav {
  display: flex;
  width: 100%;
  font-size: 1rem;
  color: #cbd5e0;
  background-color: #09141c;
}

.header-left,
.header-center,
.header-right {
  flex: 1;
}

.header-right {
  justify-content: end;
}

.header-left,
.header-right {
  display: flex;
  align-items: flex-end;
}

.clear-btn,
.GitHub-link,
.copy-btn {
  margin: 0 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #0f202d;
  color: inherit;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.clear-btn {
  border-top: 3px solid #bd2c00;
}

.GitHub-link {
  border-top: 3px solid #66bf62;
}

.copy-btn {
  border-top: 3px solid #6e5494;
}

.header-center {
  display: flex;
  justify-content: center;
}

.app-title {
  border-bottom: 5px solid rgba(203, 93, 157, 0.8);
  margin: 1rem 0;
}

.menu-btn {
  position: absolute;
  z-index: 3;
  top: 20px;
  right: 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
  visibility: hidden;
}
.menu-btn__line {
  width: 28px;
  height: 3px;
  margin: 0 0 5px 0;
  background: rgb(255, 255, 255, 0.5);
  transition: all 0.5s ease-out;
}

.menu-btn.close {
  transform: rotate(180deg);
}
.menu-btn.close .menu-btn__line:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}
.menu-btn.close .menu-btn__line:nth-child(2) {
  opacity: 0;
}
.menu-btn.close .menu-btn__line:nth-child(3) {
  transform: rotate(-45deg) translate(7px, -6px);
}

@media (max-width: 768px) {
  .menu-btn {
    visibility: visible;
  }

  .header-nav {
    flex-direction: column;
  }

  .header-nav.show {
    position: fixed;
  }

  .header-left,
  .header-center,
  .header-right {
    justify-content: center;
  }

  .header-center {
    order: -1;
  }

  .header-left,
  .header-right {
    display: none;
    transition: display 300ms ease;
  }

  .header-left.show,
  .header-right.show {
    display: flex;
  }
}
