.Header {
  display: flex;
  width: 100%;
  font-size: 1rem;
  color: #cbd5e0;
  background-color: #09141c;
}

.header-left,
.header-center,
.header-right {
  flex: 1;
}

.header-left {
  display: flex;
  align-items: flex-end;
}

.clear-btn,
.GitHub-link {
  margin: 0 0.5rem;
  padding: 1rem;
  font-size: 1rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #172b3a;
  color: inherit;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

.clear-btn {
  border-top: 3px solid #bd2c00;
}

.GitHub-link {
  border-top: 3px solid #66bf62;
}

.header-center {
  display: flex;
  justify-content: center;
}

.app-title {
  border-bottom: 5px solid rgba(203, 93, 157, 0.8);
  margin: 1rem 0;
}
