.markdown-preview {
  padding: 0.5rem 1rem 1rem 2rem;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #172b3a;
  color: #cbd5e0;
}

.markdown-preview:hover,
.markdown-preview:active,
.markdown-preview:focus {
  overflow-y: scroll;
}

/* Markdown Styles */

.markdown-preview p,
.markdown-preview li,
.markdown-preview table,
.markdown-preview code,
.markdown-preview pre {
  font-size: 1.125rem;
}

.markdown-preview h1,
.markdown-preview h2,
.markdown-preview h3,
.markdown-preview h4,
.markdown-preview h5,
.markdown-preview h6,
.markdown-preview a {
  color: #ffffff4d;
}

.markdown-preview pre code {
  display: block;
}

.markdown-preview code {
  color: #ffffff4d;
  background: #24435b;
  padding: 0.3rem;
}

.markdown-preview table {
  border-collapse: collapse;
}

.markdown-preview td,
.markdown-preview th {
  border: 1px solid #ffffff4d;
  padding: 0.5rem;
}

.markdown-preview blockquote {
  font-size: 1.25rem;
  margin-left: 1.5rem;
  margin-bottom: 1rem;
  border-left: 3px solid #c6cbd1;
  padding-left: 1rem;
}
